@import "~/.config/rofi/config.rasi"

window {
    location: west;
    anchor: west;
    y-offset: 0;
    width: 220px;
    border-radius: 0px 12px 12px 0px;
}

mainbox {
    padding: 8px;
}

inputbar {
    enabled: false;
}

listview {
    columns: 1;
    lines: 5;
    fixed-height: false;
    margin: 0;
}

element {
    padding: 4px;
    border-radius: 4px;
}

element-icon {
    size: 196px;
}

element-text {
    enabled: false;
}
